// All component Sass needs non-printing base config
@import '../../00-protons/variables';

.text-column__intro {
  margin-bottom: $spacer-xl;
}

.text-column__main {
  h3 {
    font-size: $h4-font-size;
  }

  .btn {
    margin-top: $spacer-lg;
  }
}
