{#
/**
 * @file
 * training-detail
 *
 * Available variables for training-detail:
 *    - page_training_detail.variable_name [variable_type]: Description of the variable. Example below.
 *    - page_training_detail.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="training-detail">
    {% include '@organisms/_header-slider.twig' %}
    {% include '@organisms/_text-sidebar.twig' %}
    {% include '@organisms/_action-button.twig' %}
    {% include '@organisms/_tab-content.twig' %}
</div>