{#
/**
 * @file
 * header-slider
 *
 * Available variables for header-slider:
 *    - header_slider.picture.img_element [object]: Fallback image used in the header.
 *    - header_slider.picture.sources [object]: Sources for responsive image used in the header.
 *    - header_slider.card.title [String]: Card title
 *    - header_slider.card.text [String/HTML]: Content of the card block
 */
#}

<section class="section module--xxl-v header-slider bg-c-anti-flash-white">
    <div class="container">
        {% include '@atoms/_picture.twig' with {
            img_element : header_slider.picture.img_element,
            sources : header_slider.picture.sources
        }%}

        {% if header_slider.card %}
        {% include '@molecules/_card.twig' with {
            card_title: header_slider.card.title,
            card_text: header_slider.card.text,
            card_border: 'none',
            card_title_element: 'h1',
        } %}
        {% endif %}
    </div>
</section>