///
/// Global VARIABLES and HELPERS
///
/// Place global config here like Bootstrap's _variables.scss.
/// This kind of config is often required prior to importing any libraries (ie Bootstrap Sass), and
/// does not produce any CSS, just variables and maps.
///
/// All .scss files NEED TO INCLUDE this file as the top import to ensure consistent settings.
/// Particle does not glob Sass! Because there is no printing CSS output in this file, webpack will
/// safely squash any duplication.
///
/// @example
/// ```scss
/// @import '../../00-protons/variables';
/// ```
/// This guarantees every component is styled with the same presets.
///
// Custom non-printing tools
@import 'non-printing/functions';
@import 'non-printing/colors';
@import 'non-printing/mixins';
@import "non-printing/media-query";

$spacer: 1.25rem; // 20
$spacer-xxs: $spacer * 0.1; // 2
$spacer-xs: $spacer * 0.25; // 5
$spacer-sm: $spacer * 0.5; // 10
$spacer-md: $spacer * 1.5; // 15
$spacer-lg: $spacer * 2; // 40
$spacer-xl: $spacer * 4; // 80
$spacer-xxl: $spacer * 6; // 120

// Grid settings
$grid-columns: 6 8 9 12 16 24;
$grid: 24;
$gutter-width: 1rem;
$outer-margin: 2rem;

// Grid settings
$breakpoints: xxs 0px 100%,
  xs 480px 100%,
  sm 576px 100%,
  md 768px 100%,
  lg 992px 100%,
  xl 1200px 70rem,
  xxl 1440px 80rem;
$flexboxgrid-max-width: 70rem;

// Media queries.
$mq-breakpoints: (
  xxs: 0,
  xs: 480,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
);

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// Typography
$font-family-body: Arial, Helvetica, sans-serif;
$font-family-serif: serif;
$headings-font-family: serif;
$headings-font-secondary: sans-serif;

// Add any font sizes the site used
$font-size-base: 1.125rem; // Assumes the browser default, typically `16px` so 18px
$font-size-xxl: 1.6875rem; // 27
$font-size-xl: 1.5rem; // 24
$font-size-lg: 1.375rem; // 22
$font-size-md: 1.25rem; // 20
$font-size-sm: 1rem; // 16
$font-size-xs: 0.875rem; // 14
$font-size-xxs: 0.75rem; // 12
$line-height-base: 1.645em;
$line-height-sm: 1.3125em;

$h1-font-size:                $font-size-base * 2.889; // 52
$h2-font-size:                $font-size-base * 2.334; // 42
$h3-font-size:                $font-size-base * 1.667; // 30
$h4-font-size:                $font-size-base * 1.334; // 24
$h5-font-size:                $font-size-base * 1.112; // 20
$h6-font-size:                $font-size-base; // 18
$blockquote-font-size:        $font-size-base * 2.334; // 42

$font-size-menu: $font-size-base;
$font-size-menu-s: $font-size-base * 0.80;

// Font weight
$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
