// All component Sass needs non-printing base config
@import '../../00-protons/variables';

// Add custom code here
.border-none {
  border-style: none;
}

.card {
  border-radius: 0;
}

.card-title {
  font-family: $font-family-serif;
  font-size: $h2-font-size;
}

.card-body {
  padding: $spacer-lg;
}
