{#
/**
 * @file
 * link-list
 *
 * Available variables for link-list:
 *    - link_items [array]: List of Drupal Links.
 */
#}

<ul class="link-list">
    {% for item in link_items %}
        <li>
            {{ link(item.title, item.url, { 'class':[
            'link',
            'icon',
            'icon--before',
            'icon--long-arrow',
            'icon--blue'
        ]} ) }}
        </li>
    {% endfor %}
</ul>