{#
  Button Dropdown!
#}

<div class="navbar__utility">
    {% include '@molecules/nav/_nav.twig' with {
        nav_element: 'ul',
        nav_other_classes: 'nav--utility',
    } %}
    {% include '@molecules/nav/_nav.twig' with {
        nav_element: 'ul',
        nav_other_classes: 'nav--language',
        nav_items: nav_items_language
    } %}
</div>
